---
import { getCollection } from "astro:content";
const faqs = await getCollection("faqs");
---

<div class="min-h-[100vh] min-h-[100svh] flex justify-center items-center">
  <div id="faq" class="p-8 max-w-3xl mx-auto space-y-4">
    {
      faqs.map(async (entry) => {
        const { Content } = await entry.render();
        return (
          <details id={entry.slug} class="bg-white rounded shadow p-4">
            <summary class="cursor-pointer">{entry.data.title}</summary>
            <div class="prose prose-gray pt-4 ">
              <Content />
            </div>
          </details>
        );
      })
    }
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get all details elements
    watchFaq();
  });
  document.addEventListener("astro:after-swap", function () {
    // Get all details elements
    watchFaq();
  });

  function watchFaq() {
    const detailsElements = document.querySelectorAll("details");

    // Function to close other details when one is opened
    function closeOtherDetails(targetDetails) {
      detailsElements.forEach((details) => {
        if (details !== targetDetails) {
          details.removeAttribute("open");
        }
      });
    }

    // Add event listeners to each details
    detailsElements.forEach((details) => {
      details.addEventListener("toggle", (event) => {
        if (event.target.open) {
          closeOtherDetails(details);
        }
      });
    });
  }
</script>
