---
import { getCollection } from "astro:content";
const faqs = await getCollection("faqs");
---

<div class="flex justify-center items-center">
  <div id="faq" class="mb-24 max-w-3xl mx-auto space-y-4">
    {
      faqs.map(async (entry) => {
        const { Content } = await entry.render();
        return (
          <details id={entry.slug} class="bg-white rounded shadow p-4">
            <summary class="cursor-pointer">
              <h2 class="inline font-medium">{entry.data.title}</h2>
            </summary>
            <div class="max-w-none prose prose-gray pt-4 ">
              <Content />
            </div>
          </details>
        );
      })
    }
  </div>
</div>
<script lang="js">
  document.addEventListener("DOMContentLoaded", function () {
    watchFaq();
    handleHashChange();
    setupHashLinks(); // Setup hash links on page load
  });

  document.addEventListener("astro:after-swap", function () {
    watchFaq();
    handleHashChange();
    setupHashLinks(); // Setup hash links on content swap
  });

  window.addEventListener("hashchange", handleHashChange); // Listen for hash changes

  // Function to handle clicks on hash links
  function setupHashLinks() {
    const hashLinks = document.querySelectorAll('a[href^="#"]');
    hashLinks.forEach((link) => {
      link.addEventListener("click", function (event) {
        const hash = this.getAttribute("href");
        if (hash) {
          const targetDetails = document.querySelector(`details${hash}`);
          if (targetDetails) {
            targetDetails.open = true;
            event.preventDefault(); // Prevent default anchor behavior
          }
        }
      });
    });
  }

  // Function to open specific FAQ based on URL hash
  function handleHashChange() {
    const hash = window.location.hash;
    if (hash) {
      const targetDetails = document.querySelector(`details${hash}`);
      if (targetDetails) {
        targetDetails.open = true;
      }
    }
  }

  // Function to watch FAQ elements
  function watchFaq() {
    const detailsElements = document.querySelectorAll("details");

    // Function to close other details when one is opened
    function closeOtherDetails(targetDetails) {
      detailsElements.forEach((details) => {
        if (details !== targetDetails) {
          details.removeAttribute("open");
        }
      });
    }

    // Add event listeners to each details
    detailsElements.forEach((details) => {
      details.addEventListener("toggle", (event) => {
        if (event.target.open) {
          closeOtherDetails(event.target);
        }
      });
    });
  }
</script>
